---
import { getCollection } from 'astro:content';
import PostItem from '../../components/PostItem.astro';
import ShowcaseLayout from '../../layouts/ShowcaseLayout.astro';
import Layout from '../../layouts/Layout.astro';
import FeaturedPosts from '../../components/FeaturedPosts.astro';
import type { Post } from '../../types/index.types';
import { formatDate } from '../../utils/date';

const allPosts = await getCollection("posts");
const nonDraftPosts = allPosts.filter(post => !post.data.draft);
const posts = nonDraftPosts.map(post => ({
	id: post.id,
	slug: post.slug,
	...post.data,
	date: formatDate(post.data.date.toString())
}));

posts.sort(function(a,b) {
  return new Date(b.date).getTime() - new Date(a.date).getTime();
});

const featuredMainPost: Post = posts[0];
const featuredPosts: Post[] = posts.slice(1, 3);
const remainingPosts: Post[] = posts.slice(3);
---

<Layout title="ricoputra - POSTS">
	<ShowcaseLayout title="Posts">
		<FeaturedPosts mainPost={featuredMainPost} posts={featuredPosts} />

		<div class="posts">
			{remainingPosts.map(post => (
				<PostItem
					title={ post.title }
					date={ post.date }
					author={ post.author }
					description={ post.description }
					tags={ post.tags }
					slug={ post.slug }
				/>
			))}
		</div>
	</ShowcaseLayout>
</Layout>

<style>
h2 {
	text-align: center;
}
.posts {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 20px;
}

@media screen and (max-width: 1024px) {
	.posts {
		justify-content: center;
	}
}
</style>