---
import PostItem from '../components/PostItem.astro';
import BlogLayout from '../layouts/BlogLayout.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ricoputra - BLOGS">
	<BlogLayout>
		<h2>POSTS</h2>

		<div class="posts">
			<PostItem
				title="Hello World"
				date="2021-08-01"
				slug="hello-world"
				description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio repudiandae architecto incidunt alias laudantium, reprehenderit omnis itaque mollitia vero? Sint dolorem iusto minus nulla sit nemo nisi reprehenderit voluptas!"
			/>
			<PostItem
				title="Hello World"
				date="2021-08-01"
				slug="hello-world"
				description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio repudiandae architecto incidunt alias laudantium, reprehenderit omnis itaque mollitia vero? Sint dolorem iusto minus nulla sit nemo nisi reprehenderit voluptas!"
			/>
			<PostItem
				title="Hello World"
				date="2021-08-01"
				slug="hello-world"
				description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio repudiandae architecto incidunt alias laudantium, reprehenderit omnis itaque mollitia vero? Sint dolorem iusto minus nulla sit nemo nisi reprehenderit voluptas!"
			/>
			<PostItem
				title="Hello World"
				date="2021-08-01"
				slug="hello-world"
				description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio repudiandae architecto incidunt alias laudantium, reprehenderit omnis itaque mollitia vero? Sint dolorem iusto minus nulla sit nemo nisi reprehenderit voluptas!"
			/>
			<PostItem
				title="Hello World"
				date="2021-08-01"
				slug="hello-world"
				description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio repudiandae architecto incidunt alias laudantium, reprehenderit omnis itaque mollitia vero? Sint dolorem iusto minus nulla sit nemo nisi reprehenderit voluptas!"
			/>
			<PostItem
				title="Hello World"
				date="2021-08-01"
				slug="hello-world"
				description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio repudiandae architecto incidunt alias laudantium, reprehenderit omnis itaque mollitia vero? Sint dolorem iusto minus nulla sit nemo nisi reprehenderit voluptas!"
			/>
		</div>
	</BlogLayout>
</Layout>

<style>
h2 {
	text-align: center;
}
.posts {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	margin-top: 40px;
}
</style>
