---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="ricoputra">
	<main>
		<div id="hero">
			<div class="description">
				<h1>Hi there, I'm <span class="color-highlight">RICO</span></h1>
				<p>I am a <span>Fullstack Web Developer</span> with <span>3 years</span> of experiences.</p>
				<p>
					<span class="color-secondary bold">React</span> + <span class="color-secondary bold">Express</span> + <span class="color-secondary bold">TypeScript</span>
					are my main tools to develop <span class="color-secondary bold">solutions</span> for your needs & problems.
					I also use <span class="color-secondary bold">Notions</span>, <span class="color-secondary bold">Figma</span>, and <span class="color-secondary bold">Diagrams.net</span>
					to help me doing <span class="color-secondary bold">Analysis & Design</span>.
				</p>
			</div>

			<div class="illustration">
				<img src="illustration.svg" alt="Rico Putra" />
			</div>
		</div>
	</main>
</Layout>

<style>
	#hero {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 80px;
	}

	.description {
		max-width: 634px;
		line-height: 32px;
	}
	.illustration {
		width: 500px;
		display: flex;
		justify-content: center;
	}
</style>
