---
import Layout from '../layouts/Layout.astro';
import CTAs from '../components/CTAs.astro';
import Projects from "../components/home/Projects.astro";
import Posts from "../components/home/Posts.astro";
import Docs from "../components/home/Docs.astro";
---

<Layout title="ricoputra">
	<div class="hero">
		<div class="description">
			<h1>Hi there, I'm <span class="color-text-brand">RICO</span></h1>
			<div>
				<p>I am a <span class="color-text-brand bold">Fullstack Web Developer</span> with <span class="color-text-brand bold">3 years</span> of experiences.</p>
				<p>
					<span class="color-text-brand bold">React</span> + <span class="color-text-brand bold">Express</span> + <span class="color-text-brand bold">TypeScript</span>
					are my main tools to develop <span class="color-text-brand bold">solutions</span> for your needs & problems.
					I also use <span class="color-text-brand bold">Notions</span>, <span class="color-text-brand bold">Figma</span>, and <span class="color-text-brand bold">Diagrams.net</span>
					to help me doing <span class="color-text-brand bold">Analysis & Design</span>.
				</p>
			</div>
			
			<!-- CTAs -->
			<CTAs />
		</div>

		<div class="illustration">
			<img src="illustration.svg" alt="Rico Putra" />
		</div>
	</div>

	<Projects />
	<Posts />
	<Docs />
</Layout>

<style>
	.hero {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 80px;
		margin-bottom: 80px;
	}

	p {
		margin: 0;
	}

	.description {
		max-width: 634px;
		line-height: 32px;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}


	.illustration {
		width: 500px;
		display: flex;
		justify-content: center;
	}
	.illustration img {
		width: 359px;
		height: 400px;
	}
	@media screen and (max-width: 1024px) {
		.hero {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}

		

		.illustration {
			display: none;
		}
	}

	@media screen and (max-width: 640px) {
		h1 {
			font-size: var(--font-size-h2);
		}
	}

	@media screen and (max-width: 480px) {
		h1 {
			font-size: var(--font-size-h3);
		}
	}
</style>
