---
import HomeSection from "../../layouts/HomeSection.astro";
---

<HomeSection
  id="docs"
  title="Tech Docs"
  buttonLabel="see all docs"
  buttonLink="/docs"
>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi illo tempore ex harum dicta pariatur doloribus dolorum, odio quo error a culpa? Fugit a laboriosam recusandae eaque nemo nam.</p>
</HomeSection>