---
import HomeSection from "../../layouts/HomeSection.astro";
import { projects } from "../../data/projects.json";
import ProjectItem from "../ProjectItem.astro";

---

<HomeSection
  id="projects"
  title="Projects"
  buttonLabel="see all projects"
  buttonLink="/projects"
>
  <div class="projects">
    {projects.map(project => (
      <ProjectItem
        name={ project.name }
        tools={ project.tools }
        url={ project.url }
        cover={ project.cover }
      />
    ))}
  </div>
</HomeSection>

<style>
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  @media screen and (max-width: 854px) {
    .projects {
      justify-content: center;
    }
  }
</style>