nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 28px auto 0;
  max-width: 1248px;
  width: 100%;
}

.logo {
  font-family: "Nunito";
  margin: 0;
}

nav a {
  text-decoration: none;
  color: var(--color-text-white);
}

.nav-menu {
  display: flex;
  column-gap: 52px;
  font-weight: 7000;
}
.nav-menu a {
  font-weight: 700;
}

.nav-toggle {
  display: none;
}

@media screen and (max-width: 1280px) {
  nav {
    padding: 0 5%;
  }
}

@media screen and (max-width: 640px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 12px;
    column-gap: 40px;
  }

  nav h3 {
    font-size: var(--font-size-h4);
  }

  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  /* NAV TOGGLE */
  .nav-toggle {
    display: block;
    padding: 4px;
    border: 2px solid var(--color-background-white);
    border-radius: 5px;
    transition: all 0.4s ease-out;
  }
  .nav-toggle:hover {
    cursor: pointer;
    background-color: var(--color-background-secondary);
    box-shadow: 0 0 10px 2px var(--color-background-white);
  }
  .nav-toggle-content {
    display: flex;
    z-index: 100;
  }
  img.nav-toggle-icon {
    width: 32px;
    height: 32px;
  }
  .nav-toggle.active img.nav-toggle-icon {
    transition: all 0.2s ease-in;
  }
  .nav-toggle.active img.nav-toggle-icon:hover {
    transform: rotateZ(90deg);
  }

  /* NAV MENU */
  .nav-menu {
    display: none;
  }
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-background-white);
    transition: all 1s ease-in;
  }
  .nav-menu-item {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .nav-menu-item:hover {
    background-color: var(--color-background-primary);
    color: var(--color-text-black);
  }
}