---
interface Props {
  fitContent?: boolean;
}

const width = Astro.props.fitContent ? 'fit-content' : '384px';
---

<div class="card" style={`width: ${width};`}>
  <slot />
</div>

<style>
  .card {
    background: var(--color-background-primary);
    padding: 20px;

    border-radius: 20px;
    border-width: 4px;
    border-color: var(--color-border-primary);
    border-style: solid;
  }
</style>