---
interface Props {
  fitContent?: boolean;
  heightMax?: boolean;
}

const { fitContent, heightMax } = Astro.props;

const width = fitContent ? 'fit-content' : '384px';
let styles = `width: ${width};`;

if (heightMax) {
  styles += " height: 100%; padding-bottom: unset";
}
---

<div class="card" style={ styles }>
  <slot />
</div>

<style>
  .card {
    background: var(--color-background-primary);
    padding: 20px;

    border-radius: 20px;
    border-width: 4px;
    border-color: var(--color-border-primary);
    border-style: solid;
  }
</style>