---

---
<nav>
  <h3>
    <a href="/">ricoputra</a>
  </h3>

  <div class="nav-menu">
    <a href="/projects">Projects</a>
    <a href="/blogs">Blogs</a>
    <a href="/contact">Contact</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    column-gap: 52px;
  }
  a {
    text-decoration: none;
    color: var(--color-content-main);
  }
</style>