---

---
<nav>
  <h3>
    <a href="/">ricoputra</a>
  </h3>

  <div class="nav-menu">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/blogs">Blogs</a>
    <a href="/contact">Contact</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 28px auto 0;
    max-width: 1248px;
  }
  .nav-menu {
    display: flex;
    column-gap: 52px;
  }
  a {
    text-decoration: none;
    color: var(--color-content-main);
  }

  @media screen and (max-width: 640px) {
    nav {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 12px;
      column-gap: 40px;
    }

    h3 {
      font-size: var(--font-size-h4);
    }
  }
</style>