---

---
<nav>
  <h3 id="logo">
    <a href="/">ricoputra</a>
  </h3>

  <div class="nav-menu">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/posts">Posts</a>
    <a href="/docs">Docs</a>
  </div>
</nav>

<style>
  #logo {
    font-family: "Nunito";
    margin: 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 28px auto 0;
    max-width: 1248px;
    width: 100%;
  }
  nav a {
    text-decoration: none;
    color: var(--color-text-white);
  }
  .nav-menu {
    display: flex;
    column-gap: 52px;
    font-weight: 7000;
  }
  .nav-menu a {
    font-weight: 700;
  }

  @media screen and (max-width: 1280px) {
    nav {
      padding: 0 5%;
    }
  }

  @media screen and (max-width: 640px) {
    nav {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 12px;
      column-gap: 40px;
    }

    h3 {
      font-size: var(--font-size-h4);
    }
  }

  @media screen and (max-width: 480px) {
    .nav-menu {
      column-gap: 20px;
    }
  }
</style>