---
import Card from './Card.astro';
import Tags from './Tags.astro';

interface Props {
  title: string;
  date: string;
  author: string;
  description: string;
  tags: string[];
  slug: string;
}

const { title, date, author, description, tags, slug } = Astro.props;
---

<div class="post">
  <Card>
    <div class="content">
      <a href={`posts/${slug}`}>
        <h5 class="title">{ title }</h5>
      </a>
      <p class="date">{ date } by <strong>{ author }</strong></p>
      <p class="description">{ description }</p>
      <Tags tags={ tags } />
    </div>
  </Card>
</div>

<style>
  .title {
    color: var(--color-text-brand);
  }
  .date {
    font-size: 14px;
    font-style: italic;
    color: var(--color-text-secondary);
    line-height: 20px;
  }
  .description {
    font-size: 14px;
    line-height: 24px;
  }
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
</style>