---
import type { Project } from '../types/index.types';
import ProjectItem from './ProjectItem.astro';

interface Props {
  data: Project[];
}

const { data } = Astro.props;
---

<div class="projects">
  {data.map(project => (
    <ProjectItem
      name={ project.name }
      tools={ project.tools }
      url={ project.url }
      cover={ project.cover }
    />
  ))}
</div>

<style>
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  @media screen and (max-width: 854px) {
    .projects {
      justify-content: center;
    }
  }
</style>