---
import Card from './Card.astro';
import Tags from './Tags.astro';

interface Props {
  name: string;
  tools: string[];
  cover: string;
  url: string;
}

const { name, tools, cover, url } = Astro.props;
---

<div class="project">
  <Card>
    <div class="project__content">
      <a href={ url } target="_blank">
        <h5>{ name }</h5>
      </a>

      <Tags tags={ tools } />
  
      <div class="project__cover">
        <img src={ cover } alt={ name } />
      </div>
    </div>
  </Card>
</div>

<style>
  .project__content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .project__content a {
    text-decoration: none;
  }

  h5 {
    color: var(--color-text-brand);
  }

  .project__cover {
    height: 120px;
    background-color: var(--color-text-secondary);
    border-radius: 5px;
    
    text-align: center;
    overflow: hidden;

    position: relative;
  }
  .project__cover:hover {
    cursor: pointer;
  }
  .project__content img:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
  }
</style>