---
import "@fontsource/nunito"
import "@fontsource/nunito/700.css"
import "@fontsource/poppins"
import '@fontsource/poppins/200.css';
import "@fontsource/poppins/700.css"
import "../styles/global.css";
import Navbar from "../components/Navbar"

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Welcome to the personal website of Rico Putra, a talented fullstack web developer with 3 years of experience. With expertise in React and TypeScript, Rico brings a dynamic skill set and a passion for creating exceptional web experiences. Discover Rico's portfolio of innovative projects, showcasing his proficiency in both front-end and back-end development. Join him on his digital journey as he combines creativity and technical prowess to build cutting-edge web solutions." />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Navbar client:visible />
		</header>
		
		<main>
			<slot />
		</main>

		<footer>
			<div>
				Built with <span class="color-text-secondary bold">Astro</span>
				by <span class="color-text-secondary bold">Rico Putra</span>
				&copy; 2023
			</div>
		</footer>
	</body>
</html>