---
import { Image } from "@astrojs/image/components";

import { formatDate } from "../utils/date";
import BlogLayout from "./BlogLayout.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const { title, date, author, cover } = frontmatter;
const formattedDate = formatDate(date);
---

<Layout title={ frontmatter.title }>
  <BlogLayout>
    <div class="post-header">
      {!!cover && (
        <Image
          src={ cover }
          alt="post-cover"
          height={384}
          width={768}
          fit="cover"
          format="svg"
        />
      )}
      
      <h4 class="color-text-brand">{ title }</h4>
      <div class="color-text-secondary">
        <small>by { author }</small> -
        <small>{ formattedDate }</small>
      </div>
    </div>

    <div class="content">
      <slot />
    </div>
  </BlogLayout>
</Layout>

<style>
  .post-header {
    text-align: center;
  }
  .post-header small {
    font-style: italic;
  }
  .md-p {
    color: var(--color-text-primary);
  }

  .post-header img {
    width: 100%;
    max-width: 768px;
  }
</style>