---
import { Picture } from "@astrojs/image/components";

import { formatDate } from "../utils/date";
import BlogLayout from "./BlogLayout.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const { title, date, author, cover } = frontmatter;
const formattedDate = date ? formatDate(date) : "";

const showDate = !!formattedDate && !!author;
---

<Layout title={ frontmatter.title }>
  <BlogLayout>
    <div class="post-header">
      {!!cover && (
        <Picture
          src={ cover }
          alt="post-cover"
          widths={[232, 287, 337, 392, 432, 552, 680, 736]}
          sizes={`
            ((min-width: 820px) and (max-width: 767px)) 736px,
            ((min-width: 768px) and (max-width: 639px)) 680px,
            ((min-width: 640px) and (max-width: 519px)) 552px,
            ((min-width: 520px) and (max-width: 479px)) 432px,
            ((min-width: 480px) and (max-width: 424px)) 392px,
            ((min-width: 425px) and (max-width: 374px)) 337px,
            ((min-width: 375px) and (max-width: 231px)) 287px,
            232px
          `}
          aspectRatio="16:9"
          formats={["svg"]}
        />
      )}
      
      <h4 class="color-text-brand">{ title }</h4>
      {showDate && (
        <div class="color-text-secondary">
          <small>{ formattedDate } by { author }</small>
        </div>
      )}
    </div>

    <div class="content">
      <slot />
    </div>
  </BlogLayout>
</Layout>

<style is:inline>
  .post-header {
    text-align: center;
  }
  .post-header small {
    font-style: italic;
  }
  .md-p {
    color: var(--color-text-primary);
  }

  .post-header img {
    width: 100%;
    max-width: 768px;
    max-height: 400px;
    margin-bottom: 20px;
    object-fit: cover;
  }

  .content h2 { font-size: 24px; }
  .content h3 { font-size: 20px; }
  .content h2, h3 { margin-top: 40px; }
  .content pre {
    background-color: #252525 !important;
    color: #FFF;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
  }
  .content p, .content li {
    font-weight: 200;
  }

  .content p code {
    background-color: rgba(135,131,120,0.15);
    color: #EB5757 !important;
    padding: 4px;
    border-radius: 5px;
    word-break: break-word;
  }
  .content strong code {
    background-color: rgba(135,131,120,0.15);
    color: #EB5757 !important;
    padding: 4px;
    border-radius: 5px;
    word-break: break-word;
  }

  .content a {
    color: #2383e2;
    font-size: 18px;
  }

  .content blockquote {
    border-left: 2px solid var(--color-text-primary);
    margin-left: 0;
    padding-left: 12px;
  }
  .content blockquote p {
    font-size: 16px;
    font-style: italic;
    color: var(--color-text-secondary);
  }

  .content img {
    max-width: 100%;
  }

  @media screen and (max-width: 425px) {
    .content h2 { font-size: 20px; }
    .content h3 { font-size: 16px; }
    .content p, .content ol {
      font-size: 14px;
      line-height: 28px;
    }

    .content pre {
      font-size: 14px;
    }

    .color-text-brand {
      font-size: 24px;
    }
  }
</style>