---
import { Picture } from "@astrojs/image/components";

import { formatDate } from "../utils/date";
import BlogLayout from "./BlogLayout.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const { title, date, author, cover } = frontmatter;
const formattedDate = formatDate(date);
---

<Layout title={ frontmatter.title }>
  <BlogLayout>
    <div class="post-header">
      {!!cover && (
        <Picture
          src={ cover }
          alt="post-cover"
          widths={[232, 287, 337, 392, 432, 552, 680, 736]}
          sizes={`
            ((min-width: 820px) and (max-width: 767px)) 736px,
            ((min-width: 768px) and (max-width: 639px)) 680px,
            ((min-width: 640px) and (max-width: 519px)) 552px,
            ((min-width: 520px) and (max-width: 479px)) 432px,
            ((min-width: 480px) and (max-width: 424px)) 392px,
            ((min-width: 425px) and (max-width: 374px)) 337px,
            ((min-width: 375px) and (max-width: 231px)) 287px,
            232px
          `}
          aspectRatio="16:9"
          formats={["svg"]}
        />
      )}
      
      <h4 class="color-text-brand">{ title }</h4>
      <div class="color-text-secondary">
        <small>{ formattedDate } by { author }</small>
      </div>
    </div>

    <div class="content">
      <slot />
    </div>
  </BlogLayout>
</Layout>

<style is:inline>
  .post-header {
    text-align: center;
  }
  .post-header small {
    font-style: italic;
  }
  .md-p {
    color: var(--color-text-primary);
  }

  .post-header img {
    width: 100%;
    max-width: 768px;
  }

  @media screen and (max-width: 425px) {
    .color-text-brand {
      font-size: 24px;
    }
  }
</style>